const firebaseConfig = {
‎  apiKey: "AIzaSyDxRxyLGjT6QlD0gpiqWyjnsZNi2TM7Zmk",
‎  authDomain: "kirana-ai-cedc5.firebaseapp.com",
‎  projectId: "kirana-ai-cedc5",
‎  storageBucket: "kirana-ai-cedc5.firebasestorage.app",
‎  messagingSenderId: "637880141584",
‎  appId: "1:637880141584:web:faacefe4a84986efb70795"
‎};
NEXT_PUBLIC_RAZORPAY_KEY_ID= rzp_live_SXt6Nkr66vAkjk
RAZORPAY_KEY_SECRET=‎ k6mTLdnnA8OkjY15SVuqxxh8
